<div class="search">
  <input type="text" (keydown)="someMethod($event)"  onfocus="this.select()"  id="question" name="question" [(ngModel)]="question.question" required class="search__input m-r-0"
    placeholder="پایتخت ایران کدام شهر می‌باشد؟">
  <button (click)="get_answer()"  class="search__button">
    <i class="material-icons-outlined search__icon feature-box__icon-b icon-basic-world la-lg">search</i>
  </button>
</div>



<mat-card *ngIf="anss.length > 1" class="answer-card">
  <mat-card-header class="answer-title">
    <mat-card-title class="m-r-0">پاسخ‌ها</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #answers [multiple]="false">
      <mat-list-option class="answer-p" *ngFor="let ans of anss | slice:0:2; let i=index" [value]="ans">
        {{i+1}}. {{ans}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>

<div *ngIf='show' class="overlay">
  <div class="center">
    <mat-progress-spinner diameter=50 mode="indeterminate" color="accent">
    </mat-progress-spinner>
  </div>
</div>