.feature-box__icon-b {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: #ffd740;
  background-color: #ffd740;

  -webkit-background-clip: text;
  color: transparent;
}



.search {
  //   flex: 100% 50% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 4rem;
  // @media only screen and (max-width: $bp-smallest) {
  //     order: 1;
  //     flex: 0 0 100%;
  //     background-color: var(--color-grey-light-2);
  // }

  &__input {
    height: 2rem;
    font-family: 'Vazir-Bold';
    font-size: large;
    color: #ffd740;
    color: inherit;
    background-color: #683ab7a1;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 45%;
    transition: all .2s;
    margin-right: -3.25rem;
    transition-delay: 0.2s;

    &:focus {
      outline: none;
      width: 70%;
      background-color: #683ab7;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: #ffd740;
    }

    @media all and (max-width: 767px) {
      .__input {
        max-width: 60%;

      }

      &::-webkit-input-placeholder {
        font-size: 0.7rem;
        color: #ffd740;
      }
    }
  }

  &__input:focus+&__button {
    background-color: transparent;
  }


  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    fill: blue;
  }
}

table {
  width: 100%;
}

.example-card {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  top: 2rem;
  background-color: white;
}


.introduction-title {
  font-family: 'Vazir-Bold', 'Courier New', Courier, monospace;
  color: #ffd740;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.example-spacer {
  flex: 2 2 auto;
}

.download-icon {
  color: red;
}



section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.download-btn {
  background-color: #009688;
  color: white;
}

.answer-p {
  font-family: 'Vazir', 'Courier New', Courier, monospace;
  margin: 1.2rem;
  line-height: 1.8rem;
  color: black;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow: inherit;
  height: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}


@media only screen and (max-width: 56.25em) {
  .feature-box__icon-b {
    margin-bottom: 0;
  }

  .a-mat-card-content {
    flex-direction: column !important;
  }

  .answer-p {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.no-ans {
  color: #ffd740;
  margin-right: 1rem;
  font-family: 'Vazir-Light';
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.answer-title {
  color: #009688;
  font-family: 'Vazir-Bold';
}

.answer-card {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  top: 2rem;
  background-color: #eeee;
  margin-bottom: 2rem;
}

@media all and (max-width: 767px) {
  .answer-card {
    max-width: 80%;

  }
}

.search:hover {
  &__input {
    outline: none;
    width: 70%;
    background-color: #683ab7;
  }
}