<mat-card class="example-card">
    <mat-card-header class="introduction-title ">
        <mat-card-title class="m-r-0">درباره سامانه</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="introduction">
            سامانه پرسش و پاسخ توسط جمعی از اساتید به همراه دانشجویان دکتری و ارشد خوشه کلان‌داده دانشگاه اصفهان توسعه
            داده شده است. 
            این سامانه با دریافت سوال از کاربر (به دو زبان انگلیسی وفارسی) با کمک الگوریتم‌های مبتنی به شبکه عصبی، پاسخ سوال را به کاربر باز می‌گرداند.
            همچنین متن پاراگرافی که سوال در آن وجود دارد نیز به کاربر نمایش داده می‌شود.
        </p>
    </mat-card-content>
</mat-card>
