/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// margins
.m-r-0{
    margin-right: 0 !important;
}
.m-r-l-1{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.m-t-1{
    margin-top: 0.5rem;  
}